<html>
    <head>
    	<h3 align="left">Elige el modelo de tu tarjeta<h3>
    </head>
    <body>
		<input type="radio" name="sex" value="hombre" /> Tarjeta 1<br/>
		<input type="radio" name="sex" value="hombre" /> Tarjeta 2<br/>
		<input type="radio" name="sex" value="hombre" /> Tarjeta 3<br/>
    </body>
</html>